<main id="main" class="main">
  <div class="pagetitle">
    <h1>Search Products</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="breadcrumb-item active">Search : {{searchKeyword}}</li>
      </ol>
    </nav>
  </div>

  <!-- ======= Sidebar ======= -->
  
  <aside class="bg-light p-4" id="sidebar" class="sidebar">
    <h3>Filter Options</h3>
  
  
    <mat-card class="price-result-card">
      <mat-card-content>
        <p>Price Range</p>
  
        <div class="d-flex justify-content-between">
          <label class="example-value-label">{{sliderStart.value}}</label>
          <label class="example-value-label">{{sliderEnd.value}}</label>
        </div>
        <!-- [step]="stepValue" -->
        <mat-slider class="example-margin" [disabled]="false" [max]="maxLimit" [min]="minLimit" [discrete]="true"
          [showTickMarks]="true" [step]="stepValue">
          <input matSliderStartThumb [(ngModel)]="minPrice" #sliderStart>
          <input matSliderEndThumb [(ngModel)]="maxPrice" #sliderEnd>
        </mat-slider>
        <!-- <button mat-raised-button (click)="priceFilter()">filter</button> -->
      </mat-card-content>
    </mat-card>
  
    <mat-card class="colors-result-card">
      <mat-card-content>
        <div class="mb-4">
          <h5>Colors</h5>
          <div class="d-flex flex-wrap">
            
            <!-- <span
              class="badge badge-secondary m-1 cursor-pointer "
              *ngFor="let color of colors"
              (click)="addOrRemoveColor(color)"
              [class.bg-color]="selectedColors.includes(color+'')"
            >
              <i class="bi bi-check"
              [style.display]="selectedColors.includes(color+'') ? 'block': 'none'"
              ></i>
              <p [style.color]="color+'' == 'WHITE' ? '#012970' : color+'' " >{{ color }}</p>
            </span> -->
            <span
              class="badge badge-secondary m-1 cursor-pointer "
              *ngFor="let color of colors"
              (click)="addOrRemoveColor(color)" 
              [class.color-active]="selectedColors.includes(color+'')"
              [style.background]="color+''"
              data-toggle="tooltip" 
              data-placement="top" 
              [title]="color+''"
            >
              <i class="bi bi-check"
              [style.display]="selectedColors.includes(color+'') ? 'block': 'none'"
              ></i>
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="brands-result-card">
      <mat-card-content>
        <div class="mb-4">
          <h5>Brands</h5>
          <div class="d-flex flex-wrap">
            <span
                class="badge badge-secondary m-1 cursor-pointer "
                *ngFor="let brand of brands"
                (click)="addOrRemoveBrand(brand)" 
                [class.brand-active]="selectedBrands.includes(brand+'')"
              >
                <i class="bi bi-check"
                [style.display]="selectedBrands.includes(brand+'') ? 'block': 'none'"
                ></i>
                <p >{{ brand }}</p>
              </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </aside>
  
  <section class="section">
    <div class="row align-items-top">
     <!-- ----- LOOP FOR PRODS-->
     <div class="col-lg-3 col-md-4 col-6" *ngFor="let product of productsListImgs | productFilter:selectedBrands:selectedColors:minPrice:maxPrice; let i = index;">
       <div class="card card-product">
         <div class="icons">
           <a [classList]="isInWishList(product.productId) ? 'text-decoration-none text-dark product-wished' : 'text-decoration-none text-dark product-wish'"  (click)="productAddToWish(product)"><i class="bi bi-heart"></i></a>
           <a class="text-decoration-none text-dark product-view"
             (click)="viewProductDetails('parentCategoryName',product.categoryName,product.productId)"><i
               class="bi bi-eye"></i></a>
         </div>
         <div class="onsale">
           <span class="badge rounded-0">
             <i class="bi bi-long-arrow-down"></i>
             <!-- 29% -->
             -{{product.productDiscount}}%
           </span>
         </div>
   
         <div class="product-image">
           <img [src]="product.mainImage.url" class="card-img-top" alt="...">
         </div>
         <div class="card-body">
           <h5 class="product-title">
             <a (click)="viewProductDetails('parentCategoryName',product.categoryName,product.productId)"> 
               <!-- A-DATA 8GB DDR4 2400 Mhz Premier Laptop RAM -->
               {{product.productName | limitTextSize:35}}
             </a>
           </h5>
           <h6 class="product-brand">
             <a href="">
               <!-- ADATA -->
               {{product.brandName}}
             </a>
           </h6>
           <!-- <ul class="ratings  d-flex align-items-start p-0 gap-3">
             <li class="rating-star">1<i class="bi bi-long-arrow-down"></i></li>
             <li class="rating-star">2<i class="bi bi-long-arrow-down"></i></li>
             <li class="rating-star">3<i class="bi bi-long-arrow-down"></i></li>
             <li class="rating-star">4<i class="bi bi-long-arrow-down"></i></li>
             <li class="rating-star">5<i class="bi bi-long-arrow-down"></i></li>
           </ul> -->
           <p class="product-prices">
             <span class="actual-price">
               <!-- $9373.00 -->
               ${{product.productPrice}}
             </span>
             <span class="discount-price">
               <!-- $5667.00 -->
               ${{(product.productPrice - (product.productPrice * product.productDiscount/100)).toFixed(2)}}
             </span>
             <span class="gst">GST Included</span>
           </p>
           <div class="product-cart-btn d-flex align-items-center justify-content-center">
             <button class="btn btn-white shadow-sm" (click)="productAddToCart(product)">
               <i class="bi bi-cart"></i>
               <span>ADD TO CART</span>
             </button>
           </div>
         </div>
       </div>
     </div>
     <!-- -----END LOOP -->
    </div>
 </section>
</main>

