<main id="main" class="main">

  <div class="pagetitle">
    <h1>Order</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/orders" routerLinkActive="active">Orders</a>
        </li>
        <li class="breadcrumb-item active">Order : {{orderId}}</li>
      </ol>
    </nav>
  </div>

  <section class="section order_detail">
    
    <div class="row  p-0 m-0 g-0">
      <div class="container">
        <div class="card  mb-1">

          <div class="track">
            <div class="step active"> 
              <span class="icon"> 
                <i class="fa fa-check"></i> 
              </span> 
              <span class="text">Ordered</span> 
            </div>
            <div class="step active"> 
              <span class="icon"> 
                <i class="fa fa-truck"></i> 
              </span> 
              <span class="text">Shipped</span> 
            </div>
            <div class="step"> 
              <span class="icon"> 
                <i class="fa fa-truck-fast"></i> 
              </span> 
              <span class="text">Processing</span>
            </div>
            <div class="step"> 
              <span class="icon"> 
                <i class="fa fa-box"></i> 
              </span> 
              <span class="text">Delivered</span>
            </div>
          </div>

          

        </div>
      </div>
    </div>

    <div class="row g-1 ">
      <div class="col-lg-8">
        <div class="container">
          <div class="card">
            <!-- ps-3 pb-2 -->
            <p class="card-title order_detail_title">Order Details</p>
            <div class="card-body">
  
              <!-- <div class="product_list">
                <h4 class="product-title">Products</h4>
  
              </div> -->
  
              <div class="col-lg-12 card p-2">
                <div class="order_info">
                  <h4 class="order_detail_subtitle">Order Information</h4>
                  <div class="row">
                    <p class="col-sm-3"><strong>Tracking Number</strong></p>
                    <p class="col-sm-9" style="user-select: text;">{{order.trackingNo}}</p>
                  </div>
                  <div class="row">
                    <p class="col-sm-3"><strong>Order Date</strong></p>
                    <p class="col-sm-9">{{order.orderDate | dateFormat}}</p>
                  </div>
                  <div class="row">
                    <p class="col-sm-3"><strong>Payment Method</strong></p>
                    <p class="col-sm-9">{{order.paymentMethod.toString().replaceAll('_', ' ')}}</p>
                  </div>
                  <div class="row">
                    <p class="col-sm-3"><strong>Total Price</strong></p>
                    <p class="col-sm-9">{{order.totalPricePaid | currency: 'INR'}}</p>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-12 card p-2">
                <div class="cart-table-section ">
                  <table class="shop_table no-select" cellspacing="0">
                    <thead>
                      <tr>
                        <th class="product-thumbnail opacity-0">
                          <span>Thumbnail image</span>
                        </th>
                        <th class="product-name">Product</th>
                        <th class="product-quantity">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cart_item" *ngFor="let product of order.products ;  let i = index;">
               
                        <td class="product-thumbnail" data-cell="product-image">
                          <a >
                            <img [src]="product.mainImage.url" alt="Thumbnail image">
                          </a>
                        </td>
                        <td class="product-detail" data-cell="product detail">
                          <a class="product-name">{{product.productName}}</a>
                          <p >{{product.brand}}</p>
                          <p >{{product.color}}</p>
                        </td>
                        <td class="product-amount" data-cell="product amount">
                          <p>{{product.productPrice | currency : 'INR'}} 
                            <i class="bi bi-x"></i>
                            <span>{{product.productQuantity}}</span>
                          </p>
                          <p class="product-subtotal">{{(product.productPrice * product.productQuantity) | currency : 'INR'}} </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-lg-12 card p-2">

                <div class="address_info">
                  <h4 class="order_detail_subtitle">Shipping Details</h4>
                  <div class="row">
                    <p class="col-sm-3"><strong>Fullname</strong></p>
                    <p class="col-sm-9">{{order.orderAddress.fullname}}</p>
                  </div>
                  <div class="row">
                    <p class="col-sm-3"><strong>Contact</strong></p>
                    <p class="col-sm-9">
                      {{
                        order.orderAddress.houseno + ', ' +
                        order.orderAddress.place + ', ' +
                        order.orderAddress.city + ', ' +
                        order.orderAddress.post + ', Pincode - ' +
                        order.orderAddress.pincode + ', ' +
                        order.orderAddress.state + ', ' +
                        order.orderAddress.country 
                      }}
                    </p>
                  </div>
                  <div class="row">
                    <p class="col-sm-3"><strong>Contact</strong></p>
                    <p class="col-sm-9">{{order.orderAddress.contact}}</p>
                  </div>
                  <div class="row">
                    <p class="col-sm-3"><strong>Alternative Contact</strong></p>
                    <p class="col-sm-9">{{order.orderAddress.alternative_contact}}</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
  
        </div>
      </div>

      <div class="col-lg-4 track_status">
        <div class="container">
          <div class="card">
            <p class="card-title track_status_title">Tracking Status</p>
            <div class="card-body">
              <!-- <mat-stepper orientation="vertical" [linear]="false" #stepper class="track_timeline">
                <mat-step *ngFor="let track of order.trackStatus;">
                  <div class="track_div card">
                    <ng-template matStepLabel class="track_status">{{track.order_status}}</ng-template>
                    <p class="track_description">{{track.description}}</p>
                    <p class="track_time">{{track.status_time | dateFormat}}</p>
                  </div>
                </mat-step>
                <mat-step label="Fill out your address">
                  <form>
                    <mat-form-field>
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-stepper> -->

              <div class="timeline">
                <div class="timeline-container" *ngFor="let track of order.trackStatus;">
                  <img [src]="orderStatusImage(track.order_status)" >
                  <div class="text-box">
                    <h4>{{track.order_status}}</h4>
                    <small>{{track.status_time | dateFormat}}</small>
                    <p class="description">{{track.description}}</p>
                    <span class="right-container-arrow"></span>
                  </div>
                </div>
                <div class="timeline-container">
                  <img src="assets/img/shipped_truck.png" >
                  <div class="text-box">
                    <h2>Processing</h2>
                    <small>Time 63723:237238</small>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus obcaecati dolores commodi rem quo quidem.</p>
                    <span class="right-container-arrow"></span>
                  </div>
                </div>
                <div class="timeline-container">
                  <img src="assets/img/delivery.png" >
                  <div class="text-box">
                    <h2>Ordered</h2>
                    <small>Time 63723:237238</small>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus obcaecati dolores commodi rem quo quidem.</p>
                  </div>
                </div>
                <div class="timeline-container">
                  <img src="assets/img/delivered_truck.png" >
                  <div class="text-box">
                    <h2>Ordered</h2>
                    <small>Time 63723:237238</small>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus obcaecati dolores commodi rem quo quidem.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>