<main id="main" class="main">

  <div class="pagetitle">
    <h1>Order</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="breadcrumb-item active">Orders</li>
      </ol>
    </nav>
  </div>

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">
  
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
  
            <ul class="sidebar-nav" id="sidebar-nav">
  
              <li class="nav-item">
                <div class="d-flex flex-column align-items-center">
                  <img src="assets/img/user.png" alt="Profile" class="rounded-circle" height="70px">
                  <p>{{user.fullname}}</p>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/profile" routerLinkActive="active">
                  <i class="bi bi-person-gear"></i>
                  <span>Profile Account</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/address" routerLinkActive="active">
                  <i class="bi bi-list"></i>
                  <span>Address</span>
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" routerLink="/orders" routerLinkActive="active">
                  <i class="bi bi-cart"></i>
                  <span>Orders</span>
                </a>
              </li>
  
              
  
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Logout</span>
                </a>
              </li>
  
            </ul>
  
          </div>
        </div>
  
      </div>
  
      <div class="col-xl-8">
        <div class="card" *ngIf="ordersList.length > 0 ; else elseBlock;">
          <div class="card-body pt-3">
            <p class="card-title">Orders</p>

            <div class="row" *ngFor="let order of ordersList; let i = index;">
              <div class="card {{bgOrderSelect(order.orderStatus, false)}}">
                <div class="card-body mt-3">
                  <div class="row">
                    <div class="col-md-10" >
                      <p class="m-0 card-title" style="user-select: text;"> 
                        Tracking No. : <span >{{order.trackingNo}} </span> 
                      </p>
                      <p class="m-0 card-title" style="user-select: text;"> 
                        Order Id : <span >{{order.id}} </span> 
                      </p>
                      <p class="m-0 card-title" style="user-select: text;"> 
                        Order Date : <span >{{order.orderDate | dateFormat}} </span> 
                      </p>
                      <p class="m-0 card-title"> 
                        Total Amount : <span>{{order.totalPricePaid | currency: 'INR'}} </span> 
                      </p>
                      <p class="m-0 card-title"> 
                        Status : <span class="{{bgOrderSelect(order.orderStatus, true)}} p-1 rounded">{{order.orderStatus}} </span> 
                        <span class="ps-1 text-danger" *ngIf="(!orderStatusActive(order,'RETURNED') && order.orderStatus=='RETURNED')">on validation, response will be updated soon</span>
                      </p>
                    </div>
                    <div class="col-2 d-flex flex-column ">
                      <button mat-raised-button class="mb-1" (click)="viewOrderDetails(order)">view</button>
                      <!-- <button mat-raised-button class="mb-1" [routerLink]="['/orders/order-view']" [queryParams]="{ orderId: order.id }">view</button> -->
                      <button mat-raised-button color="{{orderStatusActive(order,'DELIVERED') ? 'accent' : 'warn'}}" [style.display]="order.orderStatus == 'CANCELLED' || order.orderStatus == 'RETURNED' || (orderReturnTimeCrossed(order) &&  orderStatusActive(order,'DELIVERED')) ?'none':'block'" (click)="orderStatusActive(order,'DELIVERED') ? returnOrder(order) : cancelOrder(order)">{{orderStatusActive(order,'DELIVERED') ? 'return' : 'cancel'}}</button>
                    </div>
                  </div>
              </div>
              </div>
            </div>

          </div>
        </div>
        <ng-template #elseBlock>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="no_item_card">
                  <div class="card-body">
                    <i class="bi bi-emoji-smile display-1 text-secondary mb-3"></i>
                    <h5 class="card-title">No Orders</h5>
                    <p class="card-text">You don't have any orders yet.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </section>

</main>