<div class="popup-box-size d-flex align-items-center justify-content-center p-3">
  <div class="container-fluid text-center d-flex flex-column align-items-center justify-content-center mt-5 " >
    <h5 mat-dialog-title>We have a send a verification mail to your email. Please verify to continue...</h5 >
    <div class="text-center" mat-dialog-content>
      <div class="container-fluid overflow-hidden">
        <img class="img-fluid" src="assets/img/message.png" class="" alt="BANNER">
      </div>
      <div mat-dialog-actions class="mt-3 ">
        <h5 class="text text-text-secondary">
          Meanwhile you can browse our site
          <span class="text-primary">
            <a routerLink="/" routerLinkActive="active" (click)="homePage()">Home page</a>
          </span>
        </h5>
      </div>
    </div>
  </div>
</div>